<div class="container mt-5" style="min-height:calc(100vh - 3rem)">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="mb-2">
      <mat-card>
        <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
            (click)="tryGoogleLogin()">
            <img alt="google" src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using
            Google</a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
